<!--
Licensed Materials - Property of IBM Sterling Order Management Store (5725-D10),  IBM Order Management (5737-D18), IBM Store Engagement (5737D58)
 (C) Copyright IBM Corp. 2017 All Rights Reserved.
 US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 -->
<div class="standalone-page global-shipment-search" role="region" isc-i18n="[aria-label]orderList.aria_orderListHeaderRegion">
	<div class="global-order-list common-order-list screen-holder">
		<div class="screen-header tile-layout">
			<div>			
				<div class="back-chevron">
						<a href="#" id="goBack" isc-i18n="[title]globals.TITLE_backButton"
							ng-if="$root.$showBackButtonForStates" ng-click="$emit('$backButtonClicked')" tabindex="0">
				    		<span class="glyphicon glyphicon-chevron-left " aria-hidden="true"></span>
				    		<span class="sr-only" isc-i18n="app.aria_backButton"></span>
						</a>
				</div>
					
				<span role="heading" aria-level="1" class="screen-header-text"	isc-i18n="customerpickorderlist.TITLE_CustomerPickOrderList"></span>
			</div>
			<div>
				<div class="action-holder pull-right" role="region" isc-i18n="[aria-label]orderList.aria_orderListActionsRegion">
					<div>
						<button id="cancelReturnBtn" class="btn btn-default btn-secondary" type="button" role="button" ng-click="uiClose()" >
							<span class="app-glyphicons app-icon-cancel_action_30 btn-icon-font"></span>						
							<span class="btn-text" isc-i18n="globals.ACTION_Close"></span>						
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="tile-layout search-results-holder" role="region" isc-i18n="[aria-label]orderList.aria_orderSearchResultsInfoRegion">
			<div class="results-header">
				<div ng-if="ui.numOfOrders != -1">
				<!-- <span class="dsh-count-text-h2">{{ui.numOfOrders}}</span>  -->
						<span class="grp-hdr-txt" 
							 isc-i18n="[i18n]({count:'{{ui.numOfOrders}}'})batchpick.LABEL_Order_count"></span>
				</div>
				<div class="pull-right">
                     <isc-shipment-list-sort sortcontext="Pickup" filter-applied-callback="uiApplySortOptions"></isc-shipment-list-sort>
		 		</div>
			</div>
			<div class="common-search-results" ng-include="'./store/views/shipment/customer-pickup/customer-pick-order-list/customer-pick-order.tpl.html'" id="orderListHolder"></div>
		</div>
	</div>
</div>



