/*******************************************************************************
 * IBM Confidential
 * OCO Source Materials
 * IBM Sterling Order Management Store (5725-D10), IBM Order Management (5737-D18), IBM Store Engagement (5737D58)
 * (C) Copyright IBM Corp. 2017 All Rights Reserved.
 * The source code for this program is not published or otherwise divested of its trade secrets, irrespective of what has been deposited with the U.S. Copyright Office.
 ******************************************************************************/

.comapps .customer-pickup {
    
    .order-sla{
        line-height: 15px;
    }
    .order-no{
        vertical-align: middle;
    }
    
	.shipment-details {
		border-top: none;
	    //padding-top: 10px;
	    padding-bottom: 10px;
	    overflow: auto;
	    
        
        >.section{
            border-top: 1px solid $tile-border-color;
            @include padding(10px,0px,10px,0px);
            &:first-child{
                border-top:none!important;
            }
            
            .section-header{
                @include padding(0px,10px,0px,10px);
                display: table;
                //position: relative;
                width:100%;
                //@include padding(10px,0px,10px,0px);
                
                >.section-header-content-1, .section-header-content-2{
                    display: table-cell;
                    vertical-align: middle;
                    //display: inline-block;
                }
                .section-header-content-1{
                    width:30px;
                }
                .circle-number{
                    line-height: 30px;
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    background-color: #4A4A4A;
                    color: white;
                    text-align: center;
                    vertical-align: middle;
                    //position: absolute;
                    font-size: 16px;
                }
                
                .section-header-content-2{
                    @include left-padding(20px);
                }
            }
            .section-content{
                @include padding(10px,10px,0px,10px);
            }
            
            
            
        
            
        }
        
        .customer-verification{
            .section-content{
                @include left-padding(60px);
                width:100%;
                
                .iwHolder.iwSelect{
                    max-width: 300px;
                    //margin: auto;
                }
            }
        }
        
        .hold-location{
            .location{
                color:$highlighted-text-purple;
            }
        }
        
        .pick-products{
            .section-content{
                //@include left-padding(10px);
                @include left-padding(0px);
                @include right-padding(0px);
                padding-top:0px;
                
                .product-header{
                    padding-top:10px;
                    @include left-padding(10px);
                    @include right-padding(10px);
                }
                
                .scan-pickall{
                    padding-top: 10px;
                    padding-bottom: 10px;
                    
                    .product-scanner{
                        display: inline-block;
                        max-width: 430px;
                        width: calc(100% - 200px);
                        vertical-align: middle;
                        min-width: 175px;
                    }
                    .pick-all{
                        display: inline-block;
                        vertical-align: middle;
                        @include left-padding(20px);
                    }

                }
                
                .line-complete{
                    .app-glyphicons{
                        font-size:14px;
                    }
                    .app-glyphicons, .comapps-label{
                        color: $highlighted-text-green;
                    }
                    
                }
                .line-shorted{
                    .app-glyphicons, .comapps-label{
                        color: $highlighted-text-red;
                    }
                    
                }
                
                .bottom-actions{
                    
                    .disabled {
	 					cursor: not-allowed;
    					color: #C7C7C7;
	 				}
                    
                }
            
            }
            
            
            
        }
        
       /*
	    .product-header {
		    display: table;
		    width: 100%;
		    border-bottom: $horizontal-line-border;
		    padding-bottom: 10px;
		    padding-top: 5px;
			@include left-padding($screen-spacing-lt-rt);
			@include right-padding($screen-spacing-lt-rt);		    
		    
		    > span {
				display: table-cell;
				vertical-align: middle;
		    }
		    
		    > a {
				display: table-cell;
				text-align: $Right;
				@include left-padding(10px);
				font-size: $link-icon-font;		    
		    }
	    }
	    */
	    /*.product-list {
	    	.repeating-panel {
	    		.product-details {
	    			.product-details-right {
	    				min-height: $item-image-small + 10px;
	    			}
	    		}
	    		
	    		.line-actions {
	    			> div {
	    				width: 50%;
    					display: table-cell;
    					vertical-align: middle;
    					
    					&:first-child {
    						@include border-right($horizontal-line-border);
    					}
	    			}
	    			
	    			.quantity-panel {
	    				.quantity-uom {
							line-height: 36px	;
							vertical-align: top;	    				
	    				}
	    			}
	    		}
	    	}
	    }*/
	}
}

.customer-verification .address-holder {
    clear: both;
    overflow: hidden;
    background-color: lightgray;
    width: 90%;
    padding: 10px;
    
}

.customer-verification .address-holder .shipto-address{
    float:left;
    width:50%;
}

.customer-verification .address-holder .billto-address{
    float:left;
    padding-left:10px;
}

.customer-verification .address-holder .address-lable{
    display:block;
    color:gray;
    padding-bottom: 10px;
}
.customer-verification .address-holder .address-line{
    display:block;
    //padding-bottom: 5px;
    
}

@media (max-width: $breakpoint-tablet + 1) {
    .customer-verification .address-holder .billto-address{
        clear:both;
        padding-top:10px;
        padding-left:0;
        width:100%;
    }

    .customer-verification .address-holder .shipto-address{
        padding-bottom:10px;
        width:100%;
    }
}


@media (min-width : $breakpoint-tablet){
    .comapps .customer-pickup {
        .shipment-details {
            padding-left: 0px;
            padding-right: 0px;
            
            >.section{
                padding-left: 20px;
                padding-right: 20px;
                
                
            }
            
            
            .customer-verification{
                .section-content{
                    display: table;

                    .form-group{
                        display: table-cell;
                        width:50%;
                    }
                    .customer-verification-method{
                        vertical-align: middle;
                        > isc-input{
                            max-width: 250px;
                        }
                    }       
                }
            }
            
            .pick-products{
                padding-left: 0px;
                padding-right: 0px;
            
                .section-header{
                    padding-left: 30px;
                    padding-right: 30px;
                }
                
                .section-content{
                    
                    .product-header{
                        padding-top:10px;
                        @include left-padding(30px);
                        @include right-padding(30px);
                    }

                    .product-content{
                        @include left-padding(20px);
                        @include right-padding(20px);
                    }
                    
                }
                
            }
        }
    }
}

@media (max-width: $breakpoint-tablet) {

	.comapps .customer-pickup {
		height: 100vh;
		padding-top: 97px !important;
		
		.shipment-details {
		    height: 100%;
		    //@include left-padding(0px);
		    //@include right-padding(0px);
		    padding-bottom: 15px;		
		}
	}
}

@media (max-width: $breakpoint-mobile) {
	.comapps .customer-pickup {
		padding-top: 87px !important;
		
        .screen-header-text{
            .header_secondary_label{
                .order-sla{
                    display: inline-block !important;
                }
                
                .order-no{
                    display: inline-block !important;
                    width: calc(100vw - 150px);
                    
                    .ellipsis-text{
                        display: block;
                    }
                }
            }
        }
        
        
        
		.shipment-details {
            padding-left: 0px;
            padding-right: 0px;
            
		    /*.product-header {
				@include left-padding($screen-spacing-lt-rt-xsm);
				@include right-padding($screen-spacing-lt-rt-xsm);
		    }
            */

        
		    /*.product-list {
		    	.repeating-panel {
		    		.product-details {
		    			.product-details-right {
		    				min-height: $xs-item-image-small + 10px;
		    			}
		    		}
		    	}
		    }
            */
            >.section{
                
                .section-header{
                    .section-header-content-2{
                        @include left-padding(10px);
                    }
                }   
            }
            
            .customer-verification{
                .section-content{
                    @include left-padding(50px);
                    width:100%;
                }
            }
            
            
            .pick-products{
                .section-content{
                    .scan-pickall{
                        display: table;
                        width:100%;
                        .product-scanner{
                            display: table-cell;
                            vertical-align: middle;
                            width:auto;
                        }
                        .pick-all{
                            @include left-padding(5px);
                            display: table-cell;
                            vertical-align: middle;
                            text-align: right;
                            
                            .btn{
                                @include right-margin(0px);
                            }
                        }
                    }
                    
                    /*.status-split-panel > div{
                        display: block;
                        border-left:none;
                        padding-left:0px;
                        margin-left: 0px;
                    }*/
                }
            }
		}
	}
}	

@media (min-width: $breakpoint-tablet + 1) {
	.comapps .customer-pickup {
		height: 100%;		
		.shipment-details {
		    height: calc(100% - 68px);
		}
	}
}
