<!--
Licensed Materials - Property of IBM Sterling Order Management Store (5725-D10),  IBM Order Management (5737-D18), IBM Store Engagement (5737D58)
 (C) Copyright IBM Corp. 2017 All Rights Reserved.
 US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 -->
<isc-wizard custom-transition="true"
	wizard-init-template-url="./store/views/shipment/customer-pickup/customer-pickup-init.tpl.html" 
	wizard-init-controller="store.views.shipment.customer-pickup.customer-pickup-init"
	wizard-finish-template-url="./store/views/shipment/customer-pickup/customer-pickup-finish.tpl.html" 
	wizard-finish-controller="store.views.shipment.customer-pickup.customer-pickup-finish"
	>
	<isc-wizard-page page-id="singlepagepickup" 
		template-url="./store/views/shipment/customer-pickup/customer-pickup-single-page.tpl.html" 
		controller="store.views.shipment.customer-pickup.customer-pickup-page">
	</isc-wizard-page>
</isc-wizard>
