<!--
  Licensed Materials - Property of IBM Sterling Order Management Store (5725-D10)
  (C) Copyright IBM Corp.  2015, 2016 All Rights Reserved.
  US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
-->
<div class="address-display">
	<div class="form-view">
		<span class="comapps-label" name="lblAddressLine1" ng-bind="personInfo.AddressLine1"></span>
		  <span class="comapps-label" name="lblAddressLine2" ng-bind="personInfo.AddressLine2"></span>
		 	<span class="comapps-label" name="lblCityStateZip" ng-bind="getFormattedDisplay(personInfo.City)" ></span>
		  <span class="comapps-label" name="lblCountry" ng-bind="personInfo.Country"></span>
	</div>
</div>
